<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administração</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <h1>Pet Feliz</h1>
    <h2>Administração do Sistema</h2>

    <ul>
        <li><a href="/admin/telefone-cadastrar">Cadastrar Telefone</a></li>
        <li><a href="/admin/telefone-listar">Listar Telefones</a></li>
    </ul>

</body>
</html>