<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Telefone</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin">Pet Feliz</a>

        <a class="nav-link" href="/admin/telefone-cadastrar">Cadastrar Telefone</a>
        <a class="nav-link" href="/admin/telefone-listar">Listar Telefones</a>
    </nav>
</div>
<h2>Administração do Sistema</h2>
<h3>Cadastro de novo telefone</h3>

<a href="/admin">Voltar</a><br><br><br>

<form method="post" th:action="@{/admin/action/telefone-cadastrar}">
    <input class="btn btn-primary" type="text" name="numero" id="numero"/>
    <input class="btn btn-primary" type="submit" value="Cadastrar telefone">
</form>

</body>
</html>